body {
    /* font-size: 16px; */
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    font-family: RobotoLight, sans-serif;
    overflow-x: hidden;
    opacity: 1;
    margin: 0;
}
.all1{
    
	 width: 1519px;
	height: 800px;	
background: url(https://cdn.motor1.com/images/mgl/0MnWm/s1/2021-tesla-model-s-plaid.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: auto;
        background-size: cover;

}
.bg-light{
    background-color: none;
}
.me-auto1{
    margin-left: 400px;
}
.Model{
    text-align: center;
    font-size: 40px;
    color:  rgba(0,0,0,.55);
}
.geo img{
    width: 25px;
    margin-left: 1200px;
    margin-top: -250px;
}
.geo p{
    margin-left: 1250px;
    margin-top: -150px;
    font-size: 16pt;
    color:  rgba(0,0,0,.55);
}
.double1{
    height: 50px;
    width:190px;
    border-radius: 40px;
    background-color: ;
    margin-top: 400px;
    margin-left: 480px;
    opacity: 0.5;
}
.double1 p{
    text-align: center;
   font-size: 22px;
}
.double2{
    height: 50px;
    width:190px;
    border-radius: 40px;
    background-color: white;
    margin-top: -75px;
    margin-left: 850px;
    opacity: 0.5;
}
.double2 p{
    text-align: center;
   font-size: 22px;
}